@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: Calibri, "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size-adjust: cap-height 0.62;
}

table {
    table-layout: fixed;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.05em 0.2em;
    font-weight: normal;
    text-align: left;
}

tr {
    position: relative;
}

thead th {
    font-weight: 700;
}

.center td {
    width: 50%;
}

.top-info td {
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 5em;
    font-size: small;
}

input {
    border: none;
    border-bottom: 2px dotted black;
}

.top-info input {
    width: 100%;
}

table input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffc000;
    border: 1px solid #000;
    width: 14px;
    height: 14px;
    padding-bottom: 5px;
}

table input[type="checkbox"]:checked {
    background-image: url("./tick.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox-col {
    line-height: 80%;
    font-size: small;
    font-weight: 700;
    padding-left: 0.8em;
    padding-right: 0.5em;
    width: 5%;
}

.all-bold {
    font-weight: 700;
}

.roz-content {
    font-size: small;
    padding-left: 1em;
}

.roz-content label {
    font-size: smaller;
    font-weight: normal;
}

div.inline {
    display: inline-flex;
    flex-direction: column;
    width: auto;
    min-width: 0;
}

.inline * {
    width: auto;
    min-width: 0;
    text-align: center;
}

.inline input {
    height: 1em;
}

/* input widths */

.tor input, .kmh input, .linia input {
    width: 3em;
}

.km input {
    width:5em;
}

.sem input {
    width: 6em;
}

.numpoc input {
    width: 8em;
}

.post input, .godz input {
    width: auto;
}

.prz input, .prz label{
    width: 150%;
}

.inne input, .inne label {
    width: 250%;
}

.inne-dl input {
    width: 380%;
}

/* other */

.tor-zamkniety td,
.tor-zamkniety th {
    background: lightgray padding-box;
}

.tor-zamkniety input {
    background-color: lightgray;
}

.normal-font {
    font-size: small;
    font-weight: normal;
}

.text-area textarea {
    text-align: justify;
    resize: none;
}

.text-area {
    padding-bottom: 3em;
    padding-right: 1em;
    box-sizing: border-box;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

/* section highlights */

input.required:invalid {
    background-color: lightcoral;
}

input.optional:invalid {
    background-color: lightblue;
}

/* overlays */

.overlay-disallowed {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(./bar.svg);
    background-repeat: repeat;
    background-size: contain;
    background-color: lightgray;
    opacity: 0.5;
    cursor: not-allowed;
}