@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap');

body {
    font-family: Calibri, "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size-adjust: cap-height 0.63
}

table {
    table-layout: fixed;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.2vh 0.5vw;
    font-weight: normal;
    text-align: left;
}

thead th {
    font-weight: bold;
}

.center th {
    width: 50%;
}

.top-info th {
    padding-top: 1vh;
    padding-left: 2vw;
    padding-right: 8vw;
    font-size: small;
}

input {
    border: none;
    border-bottom: 2px dotted black;
    margin-bottom: 0.5vh;
}

.top-info input {
    width: 100%;
}

table input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffc000;
    border: 1px solid #000;
    width: 14px;
    height: 14px;
    padding-bottom: 5px;
}

table input[type="checkbox"]:checked {
    background-image: url("./tick.svg");
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox-col {
    line-height: 80%;
    font-size: small;
    font-weight: 800;
    padding-left: 1vw;
    width: 8%;
}

.all-bold {
    font-weight: bold;
}

.roz-content {
    font-size: small;
    padding-left: 1vw;
}

.roz-content label {
    font-size: smaller;
    font-weight: normal;
}

div.inline {
    display: inline-flex;
    flex-direction: column;
    width: auto;
    min-width: 0;
}

.inline * {
    width: auto;
    min-width: 0;
    text-align: center;
}

.inline input {
    height: 1em;
}

/* input widths */

.tor input, .kmh input, .linia input {
    width: 3em;
}

.km input {
    width:5em;
}

.sem input {
    width: 6em;
}

.numpoc input {
    width: 8em;
}

.post input, .godz input {
    width: auto;
}

.prz input, .prz label{
    width: 150%;
}

.inne input, .inne label {
    width: 250%;
}

.inne-dl input {
    width: 380%;
}

/* other */

.tor-zamkniety {
    background-color: lightgray;
}

.tor-zamkniety input {
    background-color: lightgray;
}

.normal-font {
    font-size: small;
    font-weight: normal;
}

.text-area textarea {
    text-align: justify;
    resize: none;
}

.text-area {
    padding-bottom: 3vh;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}