@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --table-font-size: 1em;
    --toolbox-hight: 100%;
}

:root[data-theme="light"] {
    --text-color: black;
    --border-color: black;
    --border-color-tick: black;
    --border-color-dots: black;
    --background: white;
    --background-zamkniety: lightgray;
    --background-disabled: white;
    --background-field: white;
    --background-field-optional: white;
    --backdrop: rgba(0, 0, 0, 0.1);

    /* FIELD COLORS */
    --required: lightcoral;
    --optional: lightblue;
    --readonly: #e7e7e7;

    /* BUTTON COLORS */
    --default-main: lightblue;
    --default-hover: rgba(173, 216, 230, 0.58);
    --default-active: rgb(108, 204, 236);

    --dictate-main: plum;
    --dictate-hover: rgba(221, 160, 221, 0.58);
    --dictate-active: rgb(221, 137, 221);

    --save-main: lightgreen;
    --save-hover: rgba(144, 238, 144, 0.58);
    --save-active: rgb(113, 241, 113);

    --cancel-main: #ff796f;
    --cancel-hover: #ff796f94;
    --cancel-active: #ff4d4d;

    --disabled-main: lavender;
}

:root[data-theme="dark"] {
    --text-color: white;
    --border-color: white;
    --border-color-tick: #777777;
    --border-color-dots: #929292;
    --background: #151515;
    --background-zamkniety: #3d3d3d;
    --background-disabled: #151515;
    --background-field: #97131318;
    --background-field-optional: #29647718;
    --backdrop: rgba(100, 100, 100, 0.3);

    /* FIELD COLORS */
    --required: #971313;
    --optional: #296477;
    --readonly: #363636;
    
    /* BUTTON COLORS */
    --default-main: #205669;
    --default-hover: rgba(173, 216, 230, 0.58);
    --default-active: rgb(86, 162, 187);

    --dictate-main: #5e225e;
    --dictate-hover: rgba(221, 160, 221, 0.58);
    --dictate-active: rgb(223, 112, 223);

    --save-main: #148014;
    --save-hover: #90ee9094;
    --save-active: #11b111;

    --cancel-main: #9f2200;
    --cancel-hover: #ff836194;
    --cancel-active: #ff493c;

    --disabled-main: #242427;

    & img[src$=".svg"] {
        filter: invert(50%) brightness(219%) contrast(100%);
    }
}

body {
    font-family: Calibri, "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size-adjust: cap-height 0.62;
    color: var(--text-color);
    background-color: var(--background);

    height: 100dvh;
    margin-bottom: 0;
    margin-top: 0;
    display: grid;
    grid-template:
    "top-box" 55px
    "instruction" minmax(5%, 90%)
    "bottom-box" minmax(11em, auto);
    gap: 0.5em;
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    font-size: var(--table-font-size);
}

th,
td {
    border: thin solid var(--border-color);
    border-collapse: collapse;
    padding: 0.05em 0.2em;
    font-weight: normal;
    text-align: left;
}

.table-head th {
    font-weight: 700;
}

.center td {
    width: 50%;
}

.top-info td {
    padding-top: 0.5em;
    padding-left: 1.5em;
    padding-right: 5em;
    font-size: 0.81em;
}

/* INPUT FIELDS */

input {
    border: none;
    border-bottom: 2px dotted var(--border-color-dots);
    border-radius: 0;
    font-size: 1em;
}

input,
textarea {
    color: var(--text-color);
    background-color: var(--background-field);
}

input:read-only,
textarea:read-only {
    background-color: var(--readonly);
}

input.optional {
    background-color: var(--background-field-optional);
}

input:disabled,
textarea:disabled {
    background-color: var(--background-disabled);
}

textarea {
    font-size: 1em;
}

input[type="time"], 
input[type="date"] {
    min-height: 1.5em;
}

.top-info input {
    width: 100%;
}

/* === */

.fill-page {
    display: grid;
    grid-template: 
    "top bottom" 1fr / 1fr 1fr;
    gap: 1em;
}

.top-part {
    grid-area: "top";
}

.bottom-part {
    grid-area: "bottom";
}

table input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #ffc000;
    border: 0.1em solid var(--border-color-tick);
    width: 1.08em;
    height: 1.08em;
    padding-bottom: 5px;
}

table input[type="checkbox"]:checked {
    background-image: url("./static/tick.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox-col {
    line-height: 80%;
    font-size: 0.81em;
    font-weight: 700;
    padding-left: 0.8em;
    padding-right: 0.5em;
    padding-bottom: 0.3em;
    width: 5%;
}

.all-bold {
    font-weight: 700;
}

.roz-content {
    font-size: 0.81em;
    padding-left: 1em;
}

.roz-content label {
    font-size: 0.83em;
    font-weight: normal;
}

.roz-content:focus {
    outline: 5px auto Highlight;
}

.inline {
    display: inline-flex;
    flex-direction: column;
    width: auto;
    min-width: 0;
}

.inline * {
    width: auto;
    min-width: 0;
    text-align: center;
}

.inline input {
    height: 1em;
}

/* input widths */

.tor input,
.kmh input,
.linia input {
    width: 3em;
}

.km input {
    width: 5em;
}

.sem input {
    width: 6em;
}

.numpoc input {
    width: 8em;
}

.post input,
.godz input {
    width: auto;
}

.prz input,
.prz label {
    width: 150%;
}

.inne input,
.inne label {
    width: 250%;
}

/* other */

.tor-zamkniety td,
.tor-zamkniety th {
    background: var(--background-zamkniety) padding-box;
}

.tor-zamkniety input {
    background-color: var(--background-zamkniety);
}

.normal-font {
    font-size: 1em;
    font-weight: normal;
}

.text-area textarea {
    text-align: justify;
    resize: none;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}

.text-area {
    padding-bottom: 3em;
    padding-right: 1em;
    box-sizing: border-box;
}

.inne-dl {
    width: 100%;
}

#instruction-box {
    grid-area: instruction;
    overflow: auto;
    overflow-x: hidden;
    width: 100%;
}

/* section highlights */

.required:invalid {
    background-color: var(--required);
}

input.optional:invalid {
    background-color: var(--optional);
}

input[type="text"]:disabled, 
textarea:disabled {
    text-decoration: 0.1em red line-through;
}

input::placeholder {
    color: var(--text-color);
    text-decoration: none;
}

/* overlays */

.overlay-disallowed::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(./static/bar.svg);
    background-repeat: repeat;
    background-size: contain;
    background-color: lightgray;
    opacity: 0.5;
    cursor: not-allowed;
}

.checkbox-col.overlay-disallowed::after {
    background-size: 100% auto;
}

.overlay-disallowed {
    position: relative;
}

/* === */

.button {
    height: 100%;
    border-radius: 1em;
}

#top-box {
    grid-area: top-box;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

#button-box {
    display: grid;
    grid: 
    "dictate save settings" auto / 1fr 1fr auto;
    gap: 1em;
    max-width: 800px;
    min-width: fit-content;
    min-width: min(100%, 800px)
}

#bottom-box {
    grid-area: bottom-box;
    display: flex;
    justify-content: center;
}

#help-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: larger;

    border: 3px double var(--border-color);
    padding: 0.5em;
    margin-bottom: 5px;
    max-width: 800px;
    min-width: fit-content;
    min-width: min(100%, 800px);
    margin-right: 1em;
}

#help-box h2 {
    margin-top: 0;
    margin-bottom: 0.1em;
}

#help-box h3 {
    margin: 0.1em 0;
}

#help-box p {
    margin: 0.3em 0;
}

#help-box > div {
    max-width: 800px;
    min-width: fit-content;
    min-width: min(100%, 800px)
}

#field-help .allHelpExamples {
    display: flex;
    background-color: rgba(211, 211, 211, 0.685);
    gap: 6px 4px;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1vh 0;
}

#field-help .exampleFieldElement {
    width: fit-content;
    height: fit-content;
    line-height: 0.9em;
    padding: 0 8px;
    border-bottom: 3px dotted #000;
    white-space: nowrap;
}

#no-help {
    font-size: 1.5em;
    text-align: center;
}

#section-help {
    margin-bottom: 0.1em;
}

#section-help>ul {
    margin-top: 0px;
    padding-left: 30px;
}


/* BUTTON TYPES */

button {
    color: var(--text-color);
    background-color: var(--default-main)
}

button:hover {
    background-color: var(--default-hover);
}

button:active {
    background-color: var(--default-active);
}

.dictate {
    grid-area: dictate;
    background-color: var(--dictate-main);
}

.dictate:hover {
    background-color: var(--dictate-hover);
}

.dictate:active {
    background-color: var(--dictate-active);
}

.save {
    grid-area: save;
    background-color: var(--save-main);
}

.save:hover {
    background-color: var(--save-hover);
}

.save:active {
    background-color: var(--save-active);
}

.cancel {
    grid-area: cancel;
    background-color: var(--cancel-main);
}

.cancel:hover {
    background-color: var(--cancel-hover);
}

.cancel:active {
    background-color: var(--cancel-active);
}

button:disabled,
button:disabled:hover,
button:disabled:active {
    color: #777777;
    background-color: var(--disabled-main);
    border-color: initial;
    cursor: not-allowed;
}

/* SETTINGS BUTTON */

#settings-button {
    grid-area: settings;
}

/* ICON BUTTONS */

button:has(img) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 0.5em;
}

.button > img {
    height: 2.8em;
}

/* HIDE BAR BUTTON */

.bottom-hidden #button-hide-bar img {
    transform: scaleY(-1);
}

#button-hide-bar {
    align-self: center;
    border-radius: 0.5em;
    margin-bottom: 5px;
}

#button-hide-bar > img {
    height: 2em;
    transition: transform 0.5s ease-in-out;
}

/* HIDE BAR */

body:has(.bottom-hidden) {
    grid-template:
            "top-box" 55px
            "instruction" minmax(5%, 100%)
            "bottom-box" auto;
}

.bottom-hidden {
    height: min-content;
    background-color: transparent;
}

.bottom-hidden > #help-box {
    display: none;
}

/* DIALOG */

dialog {
    background-color: var(--background);
    color: var(--text-color);
}

::backdrop {
    background-color: var(--backdrop);
}

.large > *,
.large select,
.large input {
    font-size: large;
}

.large select,
.large input:not([type="checkbox"]) {
    border: revert;
    width: 5em;
}

.large input[type="checkbox"] {
    width: 1em;
    height: 1em;
}

.large label {
    font-size: larger;
}

dialog ::placeholder {
    color: revert;
}

.inner-dialog {
    display: grid;
    column-gap: 1em;
    row-gap: 0.2em;
    margin-bottom: 0.7em;
    align-items: center;
}

.inner-dialog select,
.inner-dialog input {
    justify-self: center;
    grid-column: 2;
}

.inner-dialog hr {
    grid-column: span 2;
    width: 100%;
}

dialog > button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Z FIELD DIALOG - ID GENERATION */

#norm-Z {
    padding-right: 1em;
}

.field-button {
    display: flex;
    gap: 1em;
}

#norm-Z-input {
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
}

#norm-Z-button {
    font-size: 1em;
    line-height: 0.9em;
    white-space: nowrap;
}

/* DICTATE DIALOG */

.step {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.step-contents {
    display: grid;
    gap: 0.3em
}

.step-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* SIZE CHANGES */

@media only screen and (max-height: 900px) {
    #help-box {
        font-size: 15px !important;
    }

    body {
        grid-template:
            "top-box" 55px
            "instruction" minmax(5%, 90%)
            "bottom-box" minmax(9em, auto);
    }
}

@media only screen and (max-height: 700px) and (orientation: landscape) {
    #bottom-box {
        display: none;
    }

    body {
        grid-template:
            "top-box" 55px
            "instruction" minmax(5%, 90%);
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #help-box {
        font-size: 10px !important;
    }
    
    #nr21_40-96-input {
        width: 210%;
    }

    body {
        grid-template:
            "top-box" 55px
            "instruction" minmax(5%, 90%)
            "bottom-box" minmax(1em, auto);
    }
}

@media (max-width: 900px) {
    #instruction-box {
        font-size: 16px;
    }

    #help-box {
        max-width: auto;
        min-width: auto;
    }
}

@media (max-width: 1200px) {
    #help-box h3 {
        margin: 0.3em 0;
    }

    #help-box p {
        margin: 0.1em 0;
    }

    #help-box {
        font-size: medium;
    }

    .fill-page {
    display: grid;
    grid-template: 
    "top" 1fr 
    "bottom" 1fr / 1fr;
    }
}


/* PRINT CSS */

thead th,
tfoot th {
    padding: 0;
    border: 0;
}

/* CSS FIXES */

.ios-fix-right {
    border-right: none;
}

.ios-fix-left {
    border-left: none;
}