/* LOADER */

#loader {
    position: fixed;
    display: flex;
    background-color: #ffffff;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 20;
    align-items: center;
    justify-content: center;
}

#loader img {
    width: 12em;
    position: absolute;
    animation: scale-up-center-alternate 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) 0s infinite alternate none;
}

@keyframes scale-up-center-alternate {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}