@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --scale-instruction: 1;
    --toolbox-hight: 100%;
    --font-size-labels: 0.78em;
    --font-size-main: 0.81em;
    --font-size-roz-content: 0.8em;
    --tick-size: 0.77em;
}

body {
    font-family: Calibri, "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size-adjust: cap-height 0.62;
    /* font-size: 24px; */

    display: flex;
    flex-direction: column;
}

#divided-view {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* ADD: Mobile layout (row) :) */
    grid-template-areas:
        "gora dol";
    gap: 3%;
}

#rozkaz-normalny-gora {
    grid-area: gora;
}

#rozkaz-normalny-dol {
    grid-area: dol;
}

table {
    table-layout: fixed;
}

table,
th,
td {
    border: thin solid black;
    border-collapse: collapse;
    padding-top: 0;
    padding-bottom: 0;
    padding: 0.02em 0.2em;
    font-weight: normal;
    text-align: left;
}

.table-head th {
    font-weight: 700;
    font-size: var(--font-size-main);
    line-height: 1em;
}

.center td {
    width: 50%;
}

.top-info td {
    padding-top: 0.3em;
    padding-left: 1.5em;
    padding-right: 3em;
    line-height: 0.9;
    font-size: var(--font-size-main);
}

.top-info label {
    font-size: var(--font-size-labels);
}

div.field {
    line-height: 0.8;
    font-weight: normal;
    border: none;
    border-bottom: 0.1em dotted black;
    color: #00167a;
    padding: 0 0.2em;
}

div.field:empty::before {
    content: " ";
}

.checkbox {
    background-color: #ffc000;
    border: 1px solid #000;
    width: var(--tick-size);
    height: var(--tick-size);
    margin: 3px;
}

.checkbox.checked {
    background-image: url("./static/tick.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.checkbox-col {
    line-height: 80%;
    font-size: var(--font-size-main);
    font-weight: 700;
    padding-left: 0.8em;
    padding-right: 0.5em;
    width: 5%;
}

.all-bold {
    font-weight: 700;
}

.normal-font {
    font-weight: normal;
}

.roz-content {
    font-size: var(--font-size-roz-content);
    padding-left: 1em;
}

.roz-content label {
    font-size: var(--font-size-labels);
    font-weight: normal;
}

div.inline {
    display: inline-flex;
    gap: 0.01em;
    flex-direction: column;
    width: auto;
    min-width: 0;
}

.inline * {
    width: auto;
    min-width: 0;
    text-align: center;
}

.inline:has(.inne) {
    width: 70%;
}

.inline:has(.prz) {
    width: 45%;
}

.text-area {
    position: relative;
    padding-right: 1em;
    padding-bottom: 4em;
}

div.inne-dl {
    line-height: normal;
    border-bottom: 0.1em dotted black;
}

.inne-dl-label {
    position: absolute;
    top: 1.8rem;
    left: 2em;
}

.tor-zamkniety td,
.tor-zamkniety th {
    background: #e8e8e8 padding-box;
}

.tor-zamkniety input {
    background-color: #e8e8e8;
}

@page {
    size: A4 landscape;
    margin-left: 1em;
    margin-right: 1em;
}

@media print {
    body {
        margin-bottom: 0;
        margin-top: 0;
        font-size: revert;
    }
}